@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Zadanie rekrutacyjne</h1>
    <p>W panelu nawigacyjnym znajduje się przycisk do listy klientów</p>
</div>
